@font-face {
  font-family: "Vazirmatn";
  src: url("../assets/fonts/vazirmatn/Vazirmatn[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

body {
  font-family: var(--font-family-base);
}