@import "./reset.css";
@import "./variables.css";
@import "./fonts.css";

html {
    font-size: 16px;
}

html,
body {
    background: var(--bg-color);
    font-size: var(--fs-base);
    font-weight: var(--fw-regular);
    color: var(--text-main);
}

::selection {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

#root{
    width: 100%;
    height: 100%;
}

body.body--no-scroll {
  overflow-y: hidden;
}