@import "./reset.css";
@import "./variables.css";
@import "./fonts.css";

html {
    font-size: 16px;
}

html,
body {
    background: var(--background);
    color: var(--text-main);
}

::selection {
    background-color: var(--bg-color);
    color: var(--primary-color);
}
