@import "./reset.css";
@import "./variables.css";
@import "./fonts.css";

html {
    font-size: 16px;
}

html,
body {
    background: var(--bg-color);
    font-size: var(--fs-base);
    font-weight: var(--fw-regular);
    color: var(--text-main);
}

::selection {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

#root {
    width: 100%;
    height: 100%;
}

body.body--no-scroll {
    overflow: hidden;
}

.primary-button {
    background-color: var(--primary-button-bg-color);
    color: var(--primary-button-text-color);
}

.cancel-button {
    background-color: var(--cancel-button-bg-color);
    color: var(--cancel-button-text-color);
}

.danger-button {
    background-color: var(--error);
    color: var(--primary-button-text-color);
}