.product-form__buttons {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 19px;
}

.product-form__button {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-weight: var(--fw-medium);
    font-size: var(--fs-md);
}