.backdrop {
    position: fixed;
    inset: 0;
    z-index: 1000;
    background: #3333337d;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.2s ease-out;
}


.modal {
    animation: scaleIn 0.25s ease-out;
    max-width: 90%;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(1.15)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}