.product-form {
    background-color: var(--surface-default);
    border-radius: 30px;
    padding: 30px 36px 31px 35px;
    width: 460px;
    max-width: 100%;
}

.product-form__title {
    font-size: var(--fs-lg);
    font-weight: var(--fw-medium);
    margin-bottom: 30px;
    text-align: center;
}

.product-form__fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-form__field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.product-form__label {
    font-size: var(--fs-md);
    font-weight: var(--fw-medium);
}

.product-form__input {
    width: 100%;
    background-color: var(--input-bg-color);
    border-radius: 8px;
    font-size: var(--fs-md);
    font-weight: var(--fw-light);
    padding: 10px;
}

.product-form__input::placeholder {
    color: #8d8d8d;
}

.product-form__input--error {
    border: 1px solid var(--error);
}

.product-form__error {
    color: var(--error);
    font-size: var(--fs-xs);
    padding: 4px 2px 0;
}

.product-form__buttons {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 19px;
}

.product-form__button {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-weight: var(--fw-medium);
    font-size: var(--fs-md);
}