.skeleton {
  width: 100%;
  padding: 15px 52px 18px 39px;
  display: grid;
  grid-template-columns: 18.4% 20% 18.4% 25% 10%;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #eee;
  height: 60px;
}

.col {
  height: 18px;
  border-radius: 6px;
}

.colLong {
  height: 18px;
  border-radius: 6px;
  width: 80%;
}

.icon {
  height: 24px;
  width: 24px !important;
  border-radius: 6px;
}