.modal {
    background-color: #fff;
    border-radius: 30px;
    padding: 45px 68px 35px;
    width: 90%;
    max-width: 472px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__header-icon{
    width: 98px;
    height: 98px;
}

.modal__description {
    font-size: var(--fs-lg);
    margin-top: 64px;
}

.modal__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.modal__button {
    flex: 1;
    height: 40px;
    border-radius: 10px;
    padding: 8px;
}

.modal__button--delete {
    background-color: var(--error);
    color: var(--primary-button-text-color);
}

.modal__button--cancel {
    background-color: #dfdfdf;
    color: #282828cc;
}