.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin-top: 25px;
}

.pagination__step {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    color: #8D8D8D80;
    border: 2px solid;
    font-weight: var(--fw-regular);
    font-size: var(--fs-base);
    font-weight: var(--fw-medium);
}


.pagination__step--active {
    border-color: var(--primary-color);
    background-color: var(--primary-button-bg-color);
    color: var(--primary-button-text-color);
    font-weight: var(--fw-regular);
}