.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.title {
    font-size: var(--fs-2xl);
    font-weight: var(--fw-bold);
    font-family: "Kalameh", sans-serif;
    position: absolute;
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
}