.products-header {
    width: 100%;
    max-width: 1140px;
    margin: 41px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.products-header__title {
    font-size: var(--fs-xl);
    font-weight: var(--fw-regular);
    display: flex;
    gap: 6px;
    align-items: center;
}

.products-header__icon {
    border: 2px solid;
    border-radius: 8px;
    transform: rotate(90deg);
    color: inherit;
    font-size: var(--fa-xl);
}

.products-header__button {
    width: 132px;
    border-radius: 10px;
    padding: 10px 17px;
}