.products-list {
    border: 1px solid var(--border-color);
    width: 100%;
    max-width: 1140px;
    margin: 15px auto 0;
    border-radius: 30px;
    overflow: hidden;
    background-color: #fff;
    min-height: 737px;
}

.products-list__titles {
    background-color: #f2f2f2;
    padding: 25px 52px 23px;
    display: grid;
    grid-template-columns: 18.4% 20% 18.4% 25% auto;
    align-items: center;
}

.products-list__titles p {
    font-weight: var(--fw-medium);
    font-size: var(--fs-md);
}