.container {
    min-height: 737px;
    margin-bottom: 25px;
    border: 1px solid var(--border-color);
    border-radius: 30px;
    overflow: hidden;
}

.tableRow {
    display: grid;
    grid-template-columns: 200px 100px 150px 200px;
    padding: 25px 15px;
    align-items: center;
    background-color: #f2f2f2;
    border-bottom: 1px solid var(--border-color);
}

.actionIcons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.columnId,
.columnPrice,
.columnStock,
.columnName {
    padding: 0 5px;
}