@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}

.skeleton {
    background: linear-gradient(90deg,
            #eee 25%,
            #f5f5f5 37%,
            #eee 63%);
    background-size: 400% 100%;
    animation: shimmer 1.5s ease-in-out infinite;
}